.vscode/
yolov5/weights/*.pt
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json

*.cfg
!yolov5/cfg/yolov3*.cfg

storage.googleapis.com
yolov5/runs/*
yolov5/data/*
!yolov5/data/images/zidane.jpg
!yolov5/data/images/bus.jpg
!yolov5/data/coco.names
!yolov5/data/coco_paper.names
!yolov5/data/coco.data
!yolov5/data/coco_*.data
!yolov5/data/coco_*.txt
!yolov5/data/trainvalno5k.shapes
!yolov5/data/*.sh

yolov5/pycocotools/*
yolov5/results*.txt
yolov5/gcp_test*.sh

*.weights
*.pt
*.onnx
*.mlmodel
*.torchscript
/.project
